@import "tailwindcss";

body {
  font-family: var(--font-poppins);
}

@theme {
  --color-primary: #475467;
  --color-gray-500: #667085;
  --color-gray-25: #FCFCFD;
  --color-neutral-40: #5C5F5D;
  --color-secondary: #D0D5DD;
  --color-primary-solid: #0C111D;
  --color-button-secondary: #344054;

  /* Small text */
  --text-caption: clamp(10px, 1vw, 12px);
  --text-body-sm: clamp(12px, 1.1vw, 14px);

  /* Body text */
  --text-body: clamp(14px, 1.2vw, 16px);
  --text-body-lg: clamp(16px, 1.4vw, 18px);

  /* Sub headings */
  --text-subheading: clamp(18px, 1.6vw, 20px);

  /* Headings */
  --text-heading-sm: clamp(20px, 2vw, 24px);
  --text-heading-md: clamp(26px, 2.6vw, 32px);
  --text-heading-lg: clamp(28px, 3vw, 38px);

  /* Hero / Display */
  --text-heading-xl: clamp(30px, 3.6vw, 48px);
  --text-main-heading: clamp(32px, 4.2vw, 59px);
}

button {
  cursor: pointer;
}